.listWrapper {
    background-color: #f0f0f0;
    min-height:73vh;
    min-width:94vw;
    overflow: scroll;
}
.listWrapper .ms-ScrollablePane--contentContainer{
    overflow: inherit;
}
.list {
    overflow: inherit;
}
.list div[role="gridcell"] {
    align-items: center;
    display: flex;
}